{% extends "@Front/base.html.twig" %}

{% block body %}
    <h1>CRAWLER</h1>
    Introduce an URL:

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h3>Updated headers: </h3>
    {% for header in modified %}
        {{ header.url }}<br>
    {% endfor %}
{% endblock %}